# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Xiaomi\Desktop\Learning\Курсовой проект 3\Никольский Владислав БПИ185 Курсовой проект 3 курс\Программа\WCPSServer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
